body {
    min-height: 75rem;
}

.navbar {
    margin-bottom: 0;
}

.album {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
    margin-bottom: .75rem;
}

.card-text {
    font-size: 85%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.pokemon-img {
    width: 96px;
    height: 96px;
}
.search {
    margin: 20px 0px 20px 0px !important;
}
